/codeInitialpropose/ClientTCP/nbproject/private/
/codeInitialpropose/ServerTCP/nbproject/private/
/codeInitialpropose/ClientTCP_1/nbproject/private/
/codeInitialpropose/ServerTCP_1/nbproject/private/
/codeInitialpropose/ServerTCP_1/build/
/codeInitialpropose/ServerTCP_1/dist/
/codeInitialpropose/ClientTCP_1/build/
/codeInitialpropose/ClientTCP_1/dist/